CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
.vscode

**.dll
**.exe
**.pdb
**.log
**.opt
*/imgui.ini
**profile-*.json
**.generated.**
**.spv
out
!**/Optick.exe
!**/mono/
!**/mono/**/*.dll
!**/mono/**/*.exe
!**/mono/**/*.pdb
!**/mono/**/*.log
**.blend1